body{
    font-family: 'Bai Jamjuree', sans-serif;
}

#title{
    display: flex;
    justify-content: center;
}

#title_btn{
    font-family: 'VT323', monospace; 
    font-size: 11vw; 
    color: #9BB7D4; 
    background-color: transparent;
    border: none;
    text-align: center;
}
#title_btn:hover{
    cursor: pointer;
    color: #6c757d;
}

#oops{
    color: #9BB7D4;
    font-size: 2vw;
    font-family: 'VT323', monospace; 
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#error{
    font-family: 'VT323', monospace; 
    color: white; 
    border: 2px solid #9BB7D4;
    border-radius: 15px;
    font-size: 13vw;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: #9BB7D4; 
    text-align: center;
    /* to disallow selecting text */
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}


/* Responsive changes for mobile phone screens */ 
@media screen and (max-width: 900px) {
    #title_btn{
        font-size: 18vw;
    }
    #error{
        margin: 3vw;
        font-size: 21vw;
    }
    #oops{
        margin: 5vw;
        font-size: 6.5vw;
    }
}